<?php
//http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html
$dbname = '{{ db.name }}';
$user = '{{ db.user }}';
$password = '{{ db.pass }}';
$driver = 'pdo_mysql';
$host = 'localhost';
$port = '3306';
$charset = 'utf8';

return [
    'debug' => false,

    'config_cache_enabled' => true,

    'doctrine' => [
        'connection' => [
            'driver' => $driver,
            'host' => $host,
            'port' => $port,
            'dbname' => $dbname,
            'user' => $user,
            'password' => $password,
            'charset' => $charset,
        ],
    ],
];
